<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h2>What 2 Watch?</h2>
    <h4>Seu catálogo de filmes!</h4>

    <a href="/movie/new" class="btn">Novo Filme</a>

    <div class="content">
        <div class="movies">
            <div class="card-movie" th:each="movie :${movies}">
                <h2 th:text="${movie.title}"></h2>
                <p th:text="${movie.description}"></p>
            </div>
        </div>
    </div>

</body>
</html>