<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img class="img1" src="image/LogoW2w.png"/>
    <div class="titulo">
        <h2>What 2 Watch?</h2>
        <h4>Seu catálogo de filmes!</h4>
    </div>
    <a href="/movie/new" class="btn" id="new-movie" >Novo Filme</a>

    <div class="content">
        <div class="movies">
            <div class="card-movie" th:each="movie :${movies}">
                <h2 th:text="${movie.title}"></h2>
                <p th:text="${movie.description}"></p>
                <div class="actions">
                    <form th:action="@{'/movie/{id}'(id=${movie.id})}" th:method="delete">
                        <button class="btn">apagar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>